// ГОТОВЫЕ КЛАССЫ ================================================================

// Визуальное скрытие
.visually-hidden {
	position: absolute;
	margin: -1px;
	clip-path: inset(50%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
}

// Контент в качестве фона
.bg {
	position: relative;
	img,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// Анимированное появление
// .anim {
// 	opacity: 0;
// 	transform: translate(var(--x), var(--y));
// 	&.active {
// 		animation: scroll var(--dur) var(--del) forwards;
// 		@keyframes scroll {
// 			to {
// 				opacity: 1;
// 				transform: translate(0);
// 			}
// 		}
// 	}
// }

// ОБЩИЕ КЛАССЫ ==================================================================
.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: rem(4);
	white-space: nowrap;
}
.button--large {
	min-height: rem(52);
	padding: 0 rem(40);
}
.button--regular {
	font-size: rem(14);
	min-height: rem(45);
	padding: 0 rem(32);
}
.button--small {
	font-size: rem(12);
	min-height: rem(36);
	padding: 0 rem(24);
}
.button--outline-light {
	color: var(--color-light);
	border: rem(1) solid var(--color-light);
	transition: background-color 0.3s, border 0.3s;
	@media (any-hover: hover) {
		&:hover {
			border: rem(1) solid var(--color-black);
			background-color: var(--color-black);
		}
	}
}
.button--outline-primary {
	color: var(--color-primary);
	border: rem(1) solid var(--color-primary);
	transition: background-color 0.3s, color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			color: var(--color-light);
			background-color: var(--color-primary);
		}
	}
}
.button--primary {
	color: var(--color-light);
	background-color: var(--color-primary);
	transition: color 0.3s, background-color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #fc3300;
		}
	}
}
//================================================================================
.title {
	font-weight: 700;
	@include adaptiveValue("font-size", 72, 32);
	line-height: math.div(93, 72);
	letter-spacing: math.div(1, 72) * 1em;
	text-transform: uppercase;
	color: var(--color-black);
}
.title--main {
	color: var(--color-light);
}
.section-title {
	@include adaptiveValue("font-size", 46, 28);
	line-height: math.div(59, 46);
	font-weight: 700;
	color: var(--color-black);
	text-align: center;
}
.section-subtitle {
	color: var(--color-black);
	font-weight: 700;
	font-size: rem(28);
	line-height: math.div(42, 28);
	@media (max-width: $mobile) {
		font-size: rem(24);
	}
}
.section-desc {
	font-size: rem(18);
	line-height: math.div(27, 18);
	text-align: center;
}
.section-bottom {
	text-align: center;
	@media (min-width: $mobile) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .section-bottom__title
	&__title {
		margin-right: em(40, 28);
		@media (max-width: $mobile) {
			margin-right: 0;
			margin-bottom: em(20, 28);
		}
	}
	// .section-bottom__button
	&__button {
	}
}
//================================================================================
.icon-box {
	&--gray {
		background-color: var(--color-form-bg);
	}
	&--light {
		.icon-box__title,
		.item-icon-box__title {
			color: var(--color-light);
		}
		.icon-box__desc,
		.item-icon-box__desc {
			color: rgba(#fff, 0.6);
		}
	}
	// .icon-box__container
	&__container {
	}
	// .icon-box__title
	&__title {
		margin-bottom: em(24, 46);
	}
	// .icon-box__desc
	&__desc {
		margin-bottom: rem(60);
		@media (max-width: em(600)) {
			margin-bottom: rem(40);
		}
	}
	// .icon-box__body
	&__body {
		display: grid;
		@include adaptiveValue("gap", 190, 30);
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.item-icon-box {
	position: relative;
	text-align: center;
	@media (max-width: em(600)) {
		grid-column: span 3;
	}
	@media (min-width: em(600)) {
		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				@include adaptiveValue("right", -95, -15);
				height: 100%;
				width: 1px;
				background: linear-gradient(
					270.01deg,
					rgba(218, 219, 221, 0) 0%,
					rgba(218, 219, 221, 0.5) 12.33%,
					#dadbdd 51.91%,
					rgba(218, 219, 221, 0.5) 87.85%,
					rgba(218, 219, 221, 0) 100%
				);
			}
		}
	}
	// .item-icon-box__title
	&__title {
		color: var(--color-black);
		font-weight: 700;
		font-size: rem(20);
		line-height: math.div(30, 20);
		margin-bottom: em(8, 20);
	}
	// .item-icon-box__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(24);
		svg {
			width: rem(48);
			height: rem(48);
			fill: var(--color-primary);
		}
	}
	// .item-icon-box__desc
	&__desc {
	}
}
//================================================================================
.slider-arrow {
	pointer-events: auto;
	cursor: pointer;
	flex: 0 0 rem(48);
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(48);
	height: rem(48);
	border-radius: 50%;
	background-color: var(--color-light);
	transition: background-color 0.3s, transform 0.3s;
	svg {
		width: rem(18);
		fill: var(--color-dark);
	}
	&:first-child {
		transform: rotate(-180deg);
	}
	&.swiper-button-disabled {
		cursor: not-allowed;
		background-color: rgba(#fff, 0.5);
	}
	@media (any-hover: hover) {
		&:hover:not(.swiper-button-disabled) {
			transform: scale(1.1);
			&:first-child {
				transform: scale(1.1) rotate(-180deg);
			}
		}
	}
}
//================================================================================
.slider-projects {
	margin: 0 rem(-30);
	padding: 0 rem(30);
	// .slider-projects__head
	&__head {
		margin-bottom: rem(20);
		@media (min-width: $mobileSmall) {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: rem(48);
		}
	}
	// .slider-projects__title
	&__title {
		text-align: left;
		margin-right: rem(20);
		max-width: rem(705);
		@media (max-width: $mobileSmall) {
			margin-right: 0;
			margin-bottom: em(10, 46);
		}
	}
	// .slider-projects__arrows
	&__arrows {
		display: flex;
		align-items: center;
	}
	// .slider-projects__arrow
	&__arrow {
	}
	// .slider-projects__body
	&__body {
		padding-bottom: rem(80);
		@media (max-width: $mobile) {
			padding-bottom: rem(40);
		}
	}
	// .slider-projects__slide
	&__slide {
	}
}
//================================================================================
.project {
	overflow: hidden;
	position: relative;
	box-shadow: 0px 80px 80px -20px #9a9ca514;
	transition: box-shadow 0.3s;
	@media (any-hover: hover) {
		&:hover {
			@media (min-width: $mobile) {
				box-shadow: 0px 80px 80px -20px #9a9ca529;
			}
			.project__content {
				transform: translate(0);
			}
		}
	}
	@media (any-hover: none) {
		.project__content {
			transform: translate(0);
		}
	}
	@media (max-width: $mobile) {
		box-shadow: 0px 0px 40px 10px #9a9ca514;
	}
	// .project__image
	&__image {
		overflow: hidden;
		border-radius: rem(4) rem(4) 0 0;
		padding-bottom: percent(440, 390);
	}
	// .project__content
	&__content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		padding: rem(15);
		transform: translate(0, rem(65));
		transition: transform 0.3s;
		background-color: var(--color-light);
	}
	// .project__title
	&__title {
		color: var(--color-black);
		font-weight: 700;
		font-size: rem(20);
		line-height: math.div(30, 20);
		margin-bottom: em(4, 20);
	}
	// .project__desc
	&__desc {
		font-size: rem(14);
		line-height: math.div(21, 14);
		margin-bottom: em(24, 14);
	}
	// .project__button
	&__button {
	}
}
//================================================================================
.partners {
	&--gray {
		background-color: var(--color-form-bg);
	}
	// .partners__container
	&__container {
	}
	// .partners__title
	&__title {
		&--one {
			margin-bottom: em(42, 46);
		}
		margin-bottom: em(24, 46);
	}
	// .partners__desc
	&__desc {
		text-align: center;
		margin-bottom: em(60, 18);
		@media (max-width: $mobile) {
			margin-bottom: em(32, 18);
		}
	}
	// .partners__body
	&__body {
		display: grid;
		gap: rem(30);
		grid-template-columns: repeat(6, 1fr);
		@media (max-width: $tablet) {
			gap: rem(15);
		}
	}
	// .partners__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		filter: contrast(0);
		transition: transform 0.3s;
		@media (max-width: $tablet) {
			grid-column: span 2;
		}
		@media (max-width: $mobileSmall) {
			grid-column: span 3;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
//================================================================================
.clients {
	background-color: var(--color-form-bg);
	// .clients__container
	&__container {
		display: grid;
		column-gap: rem(135);
		align-items: flex-start;
		grid-template-columns: 1fr percent(495, 1230);
		@media (max-width: $pc) {
			column-gap: rem(60);
		}
		@media (max-width: $tablet) {
			gap: rem(30);
		}
		@media (min-width: $tablet) {
			transform: translate(0, rem(60));
		}
	}
	// .clients__slider
	&__slider {
	}
	// .clients__image
	&__image {
		padding-bottom: percent(550, 495);

		@media (max-width: $mobile) {
			display: none;
		}
	}
}
.slider-clients {
	position: relative;
	@include adaptiveValue("margin-bottom", 120, 50);
	@media (max-width: $mobile) {
		grid-column: span 2;
		margin-bottom: 0;
	}
	// .slider-clients__title
	&__title {
		text-align: left;
		margin-bottom: em(60, 46);
		@media (max-width: $pc) {
			margin-bottom: em(30, 46);
		}
	}
	// .slider-clients__body
	&__body {
	}
	// .slider-clients__slide
	&__slide {
	}
	// .slider-clients__arrows
	&__arrows {
		display: flex;
		align-items: center;
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: var(--color-form-bg);
	}
	// .slider-clients__arrow
	&__arrow {
	}
}
.slide-clients {
	// .slide-clients__image
	&__image {
		width: rem(72);
		height: rem(72);
		overflow: hidden;
		border-radius: 50%;
		margin-bottom: rem(24);
	}
	// .slide-clients__text
	&__text {
		color: var(--color-dark);
		margin-bottom: em(26, 16);
	}
	// .slide-clients__info
	&__info {
		max-width: rem(200);
	}
	// .slide-clients__name
	&__name {
		font-weight: 700;
		color: var(--color-black);
	}
	// .slide-clients__post
	&__post {
		font-size: rem(14);
		line-height: math.div(21, 14);
	}
}
//================================================================================
.item-news {
	box-shadow: 0px 80px 80px -20px #9a9ca514;
	transition: box-shadow 0.3s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 80px 80px -20px #9a9ca529;
			.item-news__title {
				color: var(--color-primary);
			}
		}
	}
	// .item-news__image
	&__image {
		overflow: hidden;
		border-radius: rem(4) rem(4) 0 0;
		@media (max-width: $mobileSmall) {
			padding-bottom: 56.25% !important;
			margin: 0 rem(-15);
			border-radius: 0;
		}
	}
	// .item-news__content
	&__content {
		padding: rem(24);
		@media (max-width: $mobile) {
			padding: rem(15) 0 rem(25) 0;
		}
	}
	// .item-news__title
	&__title {
		color: var(--color-black);
		font-weight: 700;
		font-size: rem(20);
		line-height: math.div(30, 20);
		margin-bottom: em(12, 20);
		transition: color 0.3s;
	}
	// .item-news__meta
	&__meta {
		&:not(:last-child) {
			margin-bottom: rem(18);
		}
	}
	// .item-news__cell
	&__cell {
	}
	// .item-news__text
	&__text {
		color: var(--color-dark);
	}
}
//================================================================================
.meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	// .meta__cell
	&__cell {
		font-size: rem(12);
		line-height: math.div(21, 14);
		&.active {
			font-weight: 700;
			color: var(--color-primary);
		}
		&:not(:last-child) {
			margin-right: rem(10);
		}
		@media (min-width: $mobileSmall) {
			position: relative;
			display: flex;
			align-items: center;
			font-size: rem(14);
			&:not(:last-child) {
				margin-right: 0;
				&::after {
					content: "";
					display: inline-block;
					width: rem(1);
					height: rem(12);
					margin: 0 rem(12);
					border-radius: rem(10);
					background-color: var(--color-main);
				}
			}
			&:last-child {
				padding-left: rem(24);
				background-image: url("@img/news/chat.svg");
				background-position: left center;
				background-repeat: no-repeat;
			}
		}
	}
}
//================================================================================
.social {
	display: inline-grid;
	grid-auto-flow: column;
	row-gap: rem(6);
	column-gap: rem(12);
	&--footer {
		svg {
			fill: rgba(#fff, 0.6);
		}
	}
	// .social__link
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: rem(24);
			height: rem(24);
			fill: var(--color-main);
			transition: fill 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				svg {
					fill: var(--color-primary);
				}
			}
		}
	}
}
//================================================================================
.application {
	background-image: url("@img/application/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	// .application__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}
	// .application__form
	&__form {
	}
}
//================================================================================
.form-application {
	padding: rem(48) rem(40);
	text-align: center;
	border-radius: rem(4);
	border: rem(1) solid var(--color-gray);
	box-shadow: 0px 60px 80px -20px #1e212c29;
	background-color: var(--color-light);
	@media (max-width: $tablet) {
		padding: rem(30);
	}
	@media (max-width: $mobileSmall) {
		padding: rem(20) rem(15);
		margin: 0 rem(-15);
	}
	// .form-application__body
	&__body {
		display: grid;
		gap: rem(30);
		margin-bottom: rem(34);
		text-align: left;
	}
	// .form-application__title
	&__title {
		text-align: center;
	}
	// .form-application__item
	&__item {
		max-width: rem(414);
	}
	// .form-application__checkbox
	&__checkbox {
		cursor: pointer;
		display: flex;
		align-items: flex-start;
		.form__label {
			margin: 0;
		}
	}
	// .form-application__textarea
	&__textarea {
		textarea {
			min-height: rem(66);
		}
	}
}
//================================================================================
.intro {
	position: relative;
	background-color: var(--color-form-bg);
	background-position: top right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&::before {
		content: "";
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: opacity 0.3s;
		background-color: var(--color-light);
	}
	@media (max-width: $pc) {
		&::before {
			opacity: 0.75;
		}
	}
	// .intro__container
	&__container {
	}
	// .intro__body
	&__body {
		position: relative;
		&:not(.intro__body--full) {
			max-width: rem(600);
		}
		&.intro__body--full {
			.intro__title {
				@include adaptiveValue("font-size", 64, 28);
				line-height: math.div(76, 64);
				margin-bottom: em(48, 64);
			}
		}
	}
	// .intro__breadcrumbs
	&__breadcrumbs {
		margin-bottom: rem(40);
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(20);
		}
	}
	// .intro__title
	&__title {
		margin-bottom: em(24, 72);
	}
	// .intro__desc
	&__desc {
		font-size: rem(20);
		line-height: math.div(30, 20);
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
	}
	// .intro__bottom
	&__bottom {
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	// .intro__meta
	&__meta {
		margin-right: rem(20);
		@media (max-width: $mobile) {
			margin-right: 0;
			margin-bottom: rem(20);
		}
	}
	// .intro__social
	&__social {
		display: inline-grid;
		grid-auto-flow: column;
		row-gap: rem(6);
		column-gap: rem(12);
	}
	// .intro__item
	&__item {
	}
	// .intro__link
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: rem(24);
			height: rem(24);
			fill: var(--color-dark);
			transition: fill 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				svg {
					fill: var(--color-primary);
				}
			}
		}
	}
}
//================================================================================
.breadcrumbs {
	// .breadcrumbs__link
	&__link {
		font-size: rem(14);
		line-height: math.div(21, 14);
		&:not(:last-child) {
			color: var(--color-dark);
			position: relative;
			&::after {
				content: "/";
				display: inline-block;
				margin: 0 rem(6) 0 rem(10);
				color: var(--color-main);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//================================================================================
